* {

}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 8px 0 8px;
}

.nav-menu-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.custom-menu-icon {
    display: none;
}